{% extends 'main.html' %}
{% block content %}

<br><br><br>
<div class="container col-10">
  <h3>Welcome {{userinfo['first_name']}}</h3>
  Token <pre>{{userinfo_pretty}}</pre>

  <br><br>
  <div class="row">
    <div class="col-5">
      <form id="search-volunteer-form" action="volunteers/search" class="form-inline" method="post">
        <div class="form-group">
          <input class="form-control mr-sm-2" type="text" name="search_term" placeholder="Search">
          <button class="btn btn-outline-info" type="submit">Search Volunteers</button>
        </div>
      </form>
    </div>

    <br><br>
    <div class="col-5 ml-auto">
      <form id="search-task-form" action="tasks/search" class="form-inline" method="post">
          <input class="form-control mr-sm-2" type="text" name="search_term" placeholder="Search">
          <button class="btn btn-outline-info" type="submit">Search Tasks</button>
      </form>
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col-5">
      <a class="btn btn-info btn-lg btn-block" href="/volunteers">All Volunteers</a>
    </div>
    <div class="col-5 ml-auto">
      <a class="btn btn-info btn-lg btn-block" href="/tasks">All Tasks</a>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-5">
      <a class="btn btn-info btn-lg btn-block" href="/volunteers/add">New Volunteer</a>
    </div>
    <div class="col-5 ml-auto">
      <a class="btn btn-info btn-lg btn-block" href="/tasks/add">New Task</a>
    </div>
  </div>

</div>

<!-- <script>
  document.getElementById('search-volunteer-form').onsubmit = function(e) {
    e.preventDefault();
    let searchterm = document.getElementById('volsearch').value;
    console.log('search term:', searchterm);
    fetch('/volunteers/search', {
        method: 'POST',
        body: JSON.stringify({
            'search_term': document.getElementById('volsearch').value
        }),
        headers: {
            'Content-Type': 'application/json'
        }
      })
  };

  document.getElementById('search-task-form').onsubmit = function(e) {
    e.preventDefault();
    let searchterm = document.getElementById('tasksearch').value;
    console.log('search term:', searchterm);
    fetch('/tasks/search', {
        method: 'POST',
        body: JSON.stringify({
            'search_term': document.getElementById('tasksearch').value
        }),
        headers: {
            'Content-Type': 'application/json'
        }
    })
  }

</script> -->


{% endblock %}
