{% extends 'main.html' %}
{% block content %}

<div class="row">
  <div class="contaier col-4" align="right">
    <br><br><br>
    <form method="get">
      <button class="btn btn-sm btn-info" type="submit" formaction="/volunteers/update/{{ task.id }}">Update Task</button><br><br>
      <button class="btn btn-sm btn-info" type="submit" formaction="/volunteers/delete/{{ task.id }}">Delete Task</button>
    </form>
  </div>

  <div class="container col-4" style="color: darkcyan">
    <h3 align="center">Volunteers</h3>
    <br>
    <a href="/volunteers/{{ vol.id }}" style="color: darkcyan"><h5>{{ vol.name }}</h5></a>
    {{ vol.phone_number }}<br>
    {{ vol.address }}<br>
    {{ vol.city }},  {{ vol.state }} {{ vol.zip_code }}
    <br><br>
    <div class="container col-2" style="color: darkcyan"></div>
  </div>
</div>
{% endblock %}
