{% extends 'main.html' %}
{% block content %}

<div class="row">
  <div class="container col-4" align="right">
    <br><br><br>
    <form method="get">
      <button class="btn btn-sm btn-info" type="submit" formaction="/tasks/update/{{ task.id }}">Update Task</button><br><br>
    </form>
    <div class="hidden" id="permit-delete">{{ permit_delete }}</div>
    <button class="btn btn-sm btn-info" id="delete-button" type="submit" onclick="deleteButtonClicked({{ task.id }})">Delete Task</button>

  </div>

  <div class="container col-4" style="color: darkcyan">
    <h3 align="center">{{ task.title }}</h3>
    <br>
    Status: {{ task.status }}<br>
    Date Needed: {{ task.date_needed }}<br>
    {% if task.volunteer_name %}
      Assigned to: <a href="/volunteers/{{ task.volunteer_id }}" style="color: #074064">
        {{ task.volunteer_name }}</a><br><br>
    {% endif %}
    Details:<br>
    {{ task.details }}
  </div>

  <div class="container col-2" style="color: darkcyan"></div>

</div>

<script>

function deleteButtonClicked(task_id) {
  if (confirm('Are you sure you want to delete this Task?')) {
      fetch('/tasks/' + task_id, {
          method: 'DELETE'
      })
      .then(function(response) {
          if (response.ok === true) {
              window.location.href = '/tasks';
          }
          else {
              window.location.reload();
          }
      })
      .catch(function(e) {
          console.log('Error!', e);
      })
  }
}


function setHidden() {
  if (document.getElementById("permit-delete").innerText !== 'yes') {
      document.getElementById("delete-button").className = 'hidden';
  }
}

</script>


<style onload="setHidden()">
  .hidden {
    display: none;
  }
</style>


{% endblock %}
