{% extends 'main.html' %}
{% block content %}

<div class="container col-4" style="color: darkcyan">
<h3 align="center">Tasks</h3><br>
<ul class="tasks">
    {% for task in tasks %}
    <li>
        <a href="/tasks/{{ task.id }}" style="color: darkcyan"><h5>{{ task.title }}</h5></a>
        Status: {{ task.status }}<br>
        Date Needed: {{ task.date_needed }}<br>
        {% if task.volunteer_name %}
        Assigned to: {{ task.volunteer_name }}<br><br>
        {% endif %}
        {{ task.details }}
        <br><br>
    </li>
    {%  endfor %}
</ul>
</div>
{% endblock %}

