{% extends 'main.html' %}
{% block content %}

<div class="row">
  <div class="container col-3" align="right">
    <br><br><br>
    <div class="hidden" id="permit_add">{{ permit_add }}</div>
    <form method="get">
      <button class="btn btn-sm btn-info" id="add_button" type="submit" formaction="/volunteers/add">Add a New Volunteer</button><br><br>
    </form>
  </div>

<div class="container col-4" style="color: darkcyan">
  <h3 align="center">Volunteers</h3>
  <br>
  <ul class="volunteers">
    {% for vol in volunteers %}
    <li>
      <a href="/volunteers/{{ vol.id }}" style="color: darkcyan"><h5>{{ vol.name }}</h5></a>
      {{ vol.phone_number }}<br>
      {{ vol.address }}<br>
      {{ vol.city }},  {{ vol.state }} {{ vol.zip_code }}
      <br><br>
    </li>
    {%  endfor %}
  </ul>
  </div>

  <div class="container col-2" style="color: darkcyan"></div>

</div>

<script type="text/javascript">
  function setHidden() {
      console.log('setHidden', document.getElementById('permit_add').innerText);
    if (document.getElementById("permit_add").innerText !== 'yes') {
        document.getElementById("add_button").className = 'hidden';
    }
  }

</script>


<style onload="setHidden()">
  .hidden {
    display: none;
  }
</style>


{% endblock %}
