{% extends 'main.html' %}
{% block content %}

<div class="container col-4" style="color: darkcyan">
<h3 align="center">Volunteers</h3>
<br>
<ul class="volunteers">
    {% for vol in volunteers %}
    <li>
        <a href="/volunteers/{{ vol.id }}" style="color: darkcyan"><h5>{{ vol.name }}</h5></a>
        {{ vol.phone_number }}<br>
        {{ vol.address }}<br>
        {{ vol.city }},  {{ vol.state }} {{ vol.zip_code }}
        <br><br>
    </li>
    {%  endfor %}
</ul>
</div>
{% endblock %}

